// Put variables at the top of css
@import 'variables'

// Define all mixins
@import 'mixins'

// Core style for site
@import 'core'

// Custom Styles
// @import 'home'
// @import 'contact'

// Add tablet / smaller device friendly styles
@import 'responsive'

// Add print media style
@import 'print'
