<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/assets/css/bootstrap.v4.min.css' />
    <link rel='stylesheet' href='/assets/css/main.css' />
  </head>
  <body>
    {{{body}}}
    <script src="/assets/js/bootstrap.v4.min.js"></script>
  </body>
</html>
